@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background-color: #FAFBF7;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.landing {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0.15) 30%);
}

.rsvp {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0.15) 30%), url('./img/rsvp-banner.JPG');
}

.dress {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0.15) 30%), url('./img/dresscode-banner.JPG');
}

.registry {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0.15) 30%), url('./img/registry-banner.JPG');
}

@media(min-width: 1024px) {
  .rsvp {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0.15) 30%), url('./img/rsvp-large.JPG');
  }
}

@media (max-width: 768px) {
  .parallax {
    background-attachment: scroll; /* Disable fixed attachment on mobile */
  }
}

.scrollbar-hide {
  overflow: auto; /* Keeps scrolling enabled */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
}